# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\לימודים אקדמיים\תואר שני\236605 - Advanced topics in Deep Learning\HW1\wet\deep_hw_moco\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
